.card {
  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}

button {
  margin-top: 8px;
  width: 40%;
}

h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
