:host {
  display: block;
  padding: 24px;
}

app-search-input {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
