.search-wrapper {
  position: relative;
  display: inline-block;
  bottom: 1rem;

  input {
    padding-right: 20px;
  }

  button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
  }
}
