.search-wrapper {
  position: relative;
  display: inline-block;
  bottom: 1rem;

  input {
    width: 400px;
    padding: 10px 32px 10px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  button {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #999;
  }
}
